// colors
$black: #111111;
$white: #ffffff;
$gray-light: #f4f4f4;
$gray-dark: #757575;

//fonts
$font-heading: 'Tenor Sans', sans-serif;
$font-body: 'Inter', sans-serif;

//spacing
$container-width: 1440px;
$spacing-unit: 1rem;
$border-color: #e5e5e5;
