@import 'styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  background-color: $white;
  color: $black;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
